.question-input {
  background-color: rgba(244, 244, 244, 255);
  width: 600px;
  max-width: 90%;
  height: 40px;
  border-radius: 20px;
  padding: 0 10p;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
